version: 2.1

orbs:
  node: circleci/node@5.0.0

jobs:
  build-and-test:
    docker:
      - image: cimg/node:18.19
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run Tests
          command: npm test || echo "No test suite configured"
      - run:
          name: Run SonarQube Scan
          command: |
            npm install -g sonar-scanner
            sonar-scanner \
              -Dsonar.projectKey=APDS7311_backend-main \
              -Dsonar.organization=kabelothwala \
              -Dsonar.sources=. \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$SONAR_TOKEN

workflows:
  build_and_scan:
    jobs:
      - build-and-test
